@media (max-width: 1440px) {

  
}
@media (max-width: 1200px) {
  #gadjetum{
    width: 1191px;
  }
  .main--blocks{
    display: flex;
    flex-wrap: wrap;
  }
  #hero .hero--nav .drone {
    width:533px;
    position: absolute;
    right: 161px;
    top: 70px;
  }

}
@media (max-width: 1024px) {


}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 450px) {

}
@media (max-width: 400px) {

}
@media (max-width: 376px) {

}
@media (max-width: 320px) {

}